---
import Layout from '../layouts/Layout.astro'
import heroImage1 from '../assets/Analisis.jpg'
import heroImage2 from '../assets/extraccion.jpg'
import heroImage3 from '../assets/reporte2.jpg'
import heroImage4 from '../assets/estrategia.jpg'
import info1Image from '../assets/info1audit.jpg'
import info2Image from '../assets/info2audit.jpg'
import CardFunction from '../components/CardFunction.astro'
import Header from '../components/Header.astro'
import CarruselComoFunciona from '../components/index/CarruselComoFunciona.astro'
---

<Layout title="AuditAi">

  <main class="z-50 bg-transparent md:p-6 md:px-40">
    <!-- HEADER -->
    <Header/>

    <!-- HERO -->
    <section class="mt-12 w-auto justify-center items-center flex flex-col ">
      <div class="bg-zinc-900 w-xs md:w-[24rem] rounded-2xl py-1 px-4 md:px-0 flex items-center animate-fade-down animate-once animate-duration-700">
        <span class="text-white w-14 bg-gradient-to-r from-blue-600 to-teal-400 px-2 rounded-2xl py-1 font-semibold">NEW</span>
        <span class="text-slate-300 font-semibold text-sm px-4 md:text-[0.8rem]">Audita tus finanzas con IA 游</span>
      </div>

      <h1 class="text-6xl text-white w-full md:w-[43rem] text-center font-bold mt-10 px-4 md:px-0">
       Convierte horas de trabajo contable en minutos con <span class="bg-gradient-to-r from-blue-600 to-teal-400 text-transparent bg-clip-text">AuditAi</span>
      </h1>
      <h2 class="text-slate-300 mt-10 text-center md:text-left text-2xl px-4 md:px-0">
        An치lisis autom치tico de Cuentas bancarias, Gastos e Impuestos!
      </h2>

      <button class="bg-blue-400 hover:bg-blue-500 text-xl font-semibold text-white px-4 py-2 rounded-xl mt-10 flex items-center gap-2">
        Prueba gratuita
      </button>

      <div class="flex gap-4 w-full mt-20 px-4 md:px-0 xl:px-36 grid grid-cols-1 md:grid-cols-4">
        {[heroImage1, heroImage2, heroImage3, heroImage4].map((img, i) => (
          <CardFunction img={img} i={i} />
        ))}
      </div>
    </section>

        <!-- SECCIONES DE INFORMACI칍N -->
    <section class="w-auto justify-center items-center flex flex-col md:flex-row mt-10 md:mt-36 px-4 md:px-0">
      <img src={info1Image.src} class="h-auto md:w-96 w-full rounded-xl mb-4 md:mb-0" />
      <div class="w-full md:w-[28rem] mx-auto md:mx-0 md:ml-20 text-center md:text-left">
        <span class="text-white text-2xl md:text-3xl font-semibold">
          Ahorr치 horas de trabajo manual y gan치 eficiencia con <span class="bg-gradient-to-r from-blue-600 to-teal-400 text-transparent bg-clip-text">automatizaci칩n inteligente</span>
        </span>

        <p class="text-slate-300 text-[0.7rem] mt-4">
          AuditAi lee autom치ticamente PDFs y archivos Excel, calcula ganancias, gastos e impuestos, y detecta anomal칤as. Ahorra tiempo y minimiza errores en tu contabilidad.
        </p>
        <button class="bg-blue-400 hover:bg-blue-500 text-xl font-semibold text-white px-16 py-2 rounded-lg mt-10 w-full md:w-auto justify-center flex items-center gap-2">
          Probar AuditAi
        </button>
      </div>
    </section>

    <!-- C칍MO FUNCIONA -->
    <section class="mt-10 md:mt-24 w-auto justify-center items-center flex flex-col px-4 md:px-0">
      <h3 class="text-4xl text-white w-full md:w-[43rem] text-center font-semibold mt-10 mb-10 px-4 md:px-0">
        <span class="bg-gradient-to-r from-blue-600 to-teal-400 text-transparent bg-clip-text">C칩mo</span> funciona
      </h3>
        <CarruselComoFunciona />
    </section>

    <section class="w-auto justify-center items-center flex flex-col md:flex-row mt-10 md:mt-36 px-4 md:px-0">
      <div class="w-full md:w-[28rem] mx-auto mb-[50px] md:mb-[0] md:mx-0 md:mr-20 text-center md:text-left mb-4 md:mb-0">
        <span class="text-white text-3xl font-semibold text-center">
          Generaci칩n de <span class="bg-gradient-to-r from-blue-600 to-teal-400 text-transparent bg-clip-text">reportes instant치neos</span>
        </span>
        <p class="text-slate-300 text-[0.7rem] mt-4">
          Sube los res칰menes financieros y AuditAi genera reportes claros y estructurados en segundos. Identifica impuestos, ganancias y gastos sin complicaciones.
        </p>
        <button class="bg-blue-400 hover:bg-blue-500 text-xl font-semibold text-white px-16 py-2 rounded-lg mt-10 w-full md:w-auto justify-center flex items-center gap-2">
          Generar reporte
        </button>
      </div>
      <img src={info2Image.src} class="h-auto md:w-96 w-full rounded-xl" />
    </section>

    <!-- CONFIANZA -->
    <section class="w-auto justify-center items-center flex flex-col mt-20 px-4 md:px-0">
      <h3 class="text-3xl md:text-4xl text-white w-full md:w-[43rem] text-center font-semibold mt-10 mb-10">
        <span class="bg-gradient-to-r from-blue-600 to-teal-400 text-transparent bg-clip-text">Transforma <span class="text-white">el esfuerzo manual en</span> resultados Automaticos</span>
      </h3>
    </section>

  </main>
</Layout>
