---

---

<section class="w-auto justify-center items-center flex mt-20 px-4 md:px-10 md:border-t md:border-slate-800 md:pt-10 md:pb-6">
      <div class="text-slate-300 grid grid-cols-1 md:grid-cols-5 gap-4">
        <div class="flex flex-col mb-4 md:mb-0">
          <span class="text-white text-2xl">AuditAi</span>
          <span class="text-sm mt-4">Contabilidad inteligente con IA para pequeñas y medianas empresas.</span>
        </div>
        <div class="flex flex-col pl-4 md:pl-20 mb-4 md:mb-0">
          <span class="text-lg text-white font-semibold">Productos</span>
          <span class="text-sm mt-3">Analizador de PDFs</span>
          <span class="text-sm mt-2">Analizador de Excel</span>
          <span class="text-sm mt-2">Reportes automáticos</span>
          <span class="text-sm mt-2">Control de gastos</span>
        </div>
        <div class="flex flex-col pl-4 md:pl-20 mb-4 md:mb-0">
          <span class="text-lg text-white font-semibold">Compañía</span>
          <span class="text-sm mt-3">Política de privacidad</span>
          <span class="text-sm mt-2">Términos y condiciones</span>
        </div>
        <div class="flex flex-col pl-4 md:pl-20 mb-4 md:mb-0">
          <span class="text-lg text-white font-semibold">Soporte</span>
          <span class="text-sm mt-3">Acerca de nosotros</span>
          <span class="text-sm mt-2">Contacto</span>
          <span class="text-sm mt-2">Blog</span>
        </div>
        <div class="text-slate-500 text-sm text-center mt-6 mb-4">
            &copy; 2024 AuditAi. Todos los derechos reservados.
        </div>
      </div>

</section>
