---

---

<section class="w-auto justify-center items-center flex mt-20 px-4 md:px-10 md:border-t md:border-slate-800 md:pt-10 md:pb-6">
      <div class="text-slate-300 grid grid-cols-1 md:grid-cols-5 gap-4">
        <div class="flex flex-col mb-4 md:mb-0">
          <span class="text-white text-2xl">AuditAi</span>
          <span class="text-sm mt-4">Contabilidad inteligente con IA para pequeñas y medianas empresas.</span>
        </div>
        <div class="flex flex-col pl-4 md:pl-20 mb-4 md:mb-0">
          <span class="text-lg text-white font-semibold">Productos</span>
          <span class="text-sm mt-3">Analizador de PDFs</span>
          <span class="text-sm mt-2">Analizador de Excel</span>
          <span class="text-sm mt-2">Reportes automáticos</span>
          <span class="text-sm mt-2">Control de gastos</span>
        </div>
        <div class="flex flex-col pl-4 md:pl-20 mb-4 md:mb-0">
          <a href="/politicas" class="text-sm mt-3 hover:opacity-50">Política de privacidad</a>
          <a href='/politicas' class="text-sm mt-2 hover:opacity-50">Términos y condiciones</a>
        </div>
        <div class="flex flex-col pl-4 md:pl-20 mb-4 md:mb-0">
          <a href="/nosotros" class="text-sm mt-3 hover:opacity-50">Acerca de nosotros</a>
          <a href="/contacto" class="text-sm mt-2 hover:opacity-50">Contacto</a>
        </div>
           <ul class="flex  flex-col pl-4 md:pl-20 mb-4 md:mb-0">
          {['🔒 Encriptación de extremo a extremo',
            '🇦🇷 Datos alojados en Argentina', 'Cumplimiento GDPR y Ley 25.326', '📞 Soporte en español 24/7'].map((item) => {
            return (
              <li class="flex items-center gap-2 text-slate-500 text-sm mt-2">
                {item === 'Cumplimiento GDPR y Ley 25.326'
                  ? <span class="flex items-center gap-1"><span class="text-2xl text-green-400">✓</span> {item}</span>
                  : item

                }
              </li>)
          })}
        </ul>
        <div class="text-slate-500 text-sm text-center mt-6 mb-4">
            &copy; 2025 AuditAi. Todos los derechos reservados.
        </div>
      </div>

</section>
